body{
    font-family: poppins;
}

#title {
    background-color: black;
    color: yellow;
    min-height: 650px;
}

.back-cover {
    width: 90%;
    background: rgb(210,158,19);
    background: linear-gradient(45deg, rgba(210,158,19,1) 27%, rgba(226,216,14,1) 100%);
    justify-content: center;
    padding: 0.5rem;
    margin-top: 2rem;
    border-radius: 0.5rem 0 0.5rem 0;
}

.title-image {
    background: white;
    height: 100%;
    text-align: center;
    justify-content: center;
    margin: 1.2rem;
    margin-top: 0.5rem;
    border-radius: 0 0.5rem 0 0.5rem;
}

.title-image img{
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0.7rem
}

h1#heading {
    font-family: lato;
    font-size: 4.5rem;
    color: antiquewhite;
    font-weight: 700;
}

h1#heading span {
    color: #e2d80e;
}

.col-lg-6.left-head {
    text-align: justify;
    padding: 3rem;
}

p#tagline {
    font-size: 1.1rem;
    color: antiquewhite;
    margin-top: 2rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: black;
    background: rgb(210,158,19);
    background: linear-gradient(45deg
, rgba(210,158,19,1) 27%, rgba(226,216,14,1) 100%);
    font-family: 'Poppins';
    font-weight: 500;
    width: 6rem;
    margin-top: 2rem;
}

/* Navbar */

a.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    word-spacing: 0.1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(226 216 14);
}

.navbar-dark .navbar-brand {
    color: #fff;
    margin-left: 1rem;
}

/* ABOUT SECTION */

section#AboutUs {
    min-height: 400px;
    text-align: center;
    margin: 2rem;
    background: #eaeaea;
}

#AboutUs h1 {
    font-family: 'Lato';
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 3rem;
    word-spacing: 9px;
    letter-spacing: 1px;
    font-size: 2.8rem;
}

#AboutUs div {
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8rem;
}

#AboutUs div span {
    color: #dcc417;
    font-weight: 600;
}

/* COLLECTION SECTION */

section#Collections {
    min-height: 400px;
    text-align: center;
    background: #000000;
}

#Collections h1{
    font-family: 'Lato';
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 3rem;
    word-spacing: 9px;
    letter-spacing: 1px;
    font-size: 2.8rem;
    color: #e2d80e;
    padding-top: 2rem;
}